body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodywrap{
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #CED4DA;
    display: flex;
}
.sidebar{
    width: 296px;
    padding: 32px 0 32px 32px;
    background-color: #F8F9FA;
    .sidebar-header{
        margin-bottom: 32px;
    }
    .sidebar-link{
        a{
            color: #000;
            line-height: 24px;
            margin-left: 16px;
        }
        li{
            display: flex;
            align-items: center;
            padding-bottom: 26px;
        }
    }
    .sidebar-footer{
        display: flex;
        align-items: center;
        margin-top: 360px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-right: 16px;
        }
        p{
            line-height: 24px;
        }
        a{
            line-height: 24px;
            font-size: 14px;
            color: #6C757D;
        }
    }
}

.user-list{
    width: 936px;
    margin: 32px auto;
    position: relative;
    .user-list-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .admin{
        display: flex;
        align-items: center;
        h2{
            font-size: 24px;
            line-height: 33px;
            margin-right: 47px;
        }
        .btn{
            display: flex;
            align-items: center;
            span{
                color: #198754;
            }
        }
    }
    .list-group-item{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .list-group-item p:nth-child(1){
        width: 10%;
    }
    .list-group-item p:nth-child(2){
        width: 20%;
    }
    .list-group-item p:nth-child(3){
        width: 40%;
    }
    .list-group-item p:nth-child(4){
        width: 20%;
    }
    .list-group-item .edit{
        width: 10%;
    }
    nav{
        position: absolute;
        right: 0;
        bottom: 0;
        .page-link{
            border: 1px solid #198754;
            color: #000;
            span{
                color: #198754;
            }
        }
        .page-link:hover{
            background-color: #198754;
            color: #fff;
            span{
                color: #fff;
            }
        }
    }
}